.page {
  font-family: Montserrat;
}

.item {
  background-color: rgba(0, 0, 0, 0.048);
  padding: 20px;
  border-radius: 5px;
  border: solid 5px rgba(255, 255, 255, 0.507);
  text-align: center;
  font-weight: bolder;
  background-color: rgba(0, 255, 0, 0.267);

}

h3 {
  font-size: 18px;
  padding: 10px;
}

.iconsStyle {
  font-weight: bolder;
  border-radius: 5px;
  margin-bottom: 3%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

/* FOR PC */
@media (min-width:576px) {
    .cardResponsive {
      text-align: center;
      width:212px;
      background-color: white; 
      height:71;
      padding:17px;
      margin-bottom: 10px;
      border-radius: 5px;
    }

    .clean-block {
      text-align: center;
      min-height:680px;
      margin: auto;
      max-width: 100vw;
      min-width: 500px;

    }
    
    .row {
      width: 60%;
      margin-left: 20%;
    }

    .backgroundImage {
      background-color: #000000;
      background-size: 1560px;;
    }
  }
  
  /* FOR PHONE */
  @media (max-width: 575px) {
    .cardResponsive {
      margin-left: 20%;
      margin-right: 20%;
      text-align: center;
      min-height: 200px;
      background-color: white;
      height:71;
      padding:17px;
      margin-bottom: 10px;
      border-radius: 5px;
    }

    .clean-block {
      text-align: center;
      min-height: 280px;
      max-width: 100vw;
    }

    .backgroundImage {
      background-color: #cccccc;
      background-size: 2300px;
    }
  
}


