.page {
  font-family: Montserrat;
}

.item {
  background-color: rgba(0, 0, 0, 0.048);
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font-weight: bolder;
}

.iconsStyle {
  font-weight: bolder;
  margin-left: 10%;
  margin-right: 10%;
  border: solid 1px black;
  border-radius: 5px;
  margin-bottom: 3%;
  
  
}

/* FOR PC */
@media (min-width:576px) {
    .cardResponsive {
      text-align: center;
      width:212px;
      background-color: white; 
      height:71;
      padding:17px;
      margin-bottom: 10px;
      border-radius: 5px;
    }

    .clean-block {
      text-align: center;
      min-height:680px;
      margin: auto;
      max-width: 100vw;
      min-width: 500px;
    }
    
    .row {
      width: 60%;
      margin-left: 20%;
    }
  }
  
  /* FOR PHONE */
  @media (max-width: 575px) {
    .cardResponsive {
      margin-left: 20%;
      margin-right: 20%;
      text-align: center;
      min-height: 200px;
      background-color: white;
      height:71;
      padding:17px;
      margin-bottom: 10px;
      border-radius: 5px;
    }

    .clean-block {
      text-align: center;
      min-height: 280px;
      max-width: 100vw;
    }
  
}


