<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="../../../assets/css/styles.min.css">
</head>

<footer class="page-footer dark" style="padding:-9px;">
    <div class="footer-copyright" style="margin:0px;margin-top:-38px;">
        <p>© 2020 - CASA DE APOSTAS&nbsp;</p>
        <p style="margin-right:89px;margin-left:89px;font-size:13px;margin-bottom:53px;">A entidade reguladora do jogo online em Portugal é o Serviço de Regulação e Inspeção de Jogos do Turismo de Portugal. Este site é meramente informativo, destinado única e exclusivamente a maiores de 18 anos, e explica a situação atual das
            casas de apostas em Portugal. Todas as informações que nele constam, são recolhidas de diversas fontes online, imprensa e de entidades e organismos oficiais. O Aposta Legal é atualizado diariamente caso haja novas informações sobre a regulamentação/legalização
            do jogo online ou uma alteração numa casa de apostas a operar em Portugal e apoia o jogo regulamentado em Portugal, não incentivando o apostador ao jogo online ilegal.</p>
    </div>
</footer>