<footer class="page-footer dark" style="background: rgb(58, 57, 57);">
    <div class="footer-copyright" style="padding: 40px; text-align: center;">
        <p style="color: white; font-weight: bolder; font-size: 23px;">© 2020 - CASA DE APOSTAS&nbsp;</p>
        <p style="color: white;">A entidade reguladora do jogo online em Portugal é o Serviço de Regulação e Inspeção de Jogos do Turismo de Portugal. Este site é meramente informativo, destinado única e exclusivamente a maiores de 18 anos, e explica a situação atual das
            casas de apostas em Portugal. Todas as informações que nele constam, são recolhidas de diversas fontes online, imprensa e de entidades e organismos oficiais. O Aposta Legal é atualizado diariamente caso haja novas informações sobre a regulamentação/legalização
            do jogo online ou uma alteração numa casa de apostas a operar em Portugal e apoia o jogo regulamentado em Portugal, não incentivando o apostador ao jogo online ilegal.</p>
    </div>
</footer>