<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container">
        <a class="navbar-brand logo" routerLink="/">APOSTACERTA.PT</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="/">BÓNUS</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/revolut">REVOLUT</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/skrill">SKRILL</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/neteller">NETELLER</a></li>
            </ul>
        </div>
    </div>
</nav>