<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="../../../assets/css/styles.min.css">
</head>

    <main class="page blog-post">
        <section class="clean-block clean-post dark">
            <div class="container" style="margin-top: 100px;">
                <div class="block-content">
                    <div class="post-body" style="margin-top:-63px;">
                        <h4 class="text-center" style="margin-top:-78px;margin-left:0px;"><strong>NETELLER - &nbsp;MÉTODOS DE PAGAMENTO</strong></h4>
                        <h3></h3>
                        <p>Eleito por milhares de utilizadores a nível mundial, é o segundo método de pagamento mais usado em apostas. É seguro, rápido e garante privacidade em todas as transações<em>&nbsp;online</em>&nbsp;que efetuares.</p><img class="rounded img-fluid"
                            src="assets/img/neteller.jpg" alt="A generic square placeholder image with rounded corners in a figure." style="margin-left:1px;width:355px;height:137px;margin-bottom:9px;">
                        <h4 style="margin-top:-18px;margin-left:0px;margin-bottom:-7px;"><strong>COMO FUNCIONA?</strong></h4>
                        <p>O Neteller, tal como o Paypal ou o Skrill, é uma conta bancária virtual onde podes depositar, transferir ou levantar dinheiro – também conhecida como&nbsp;<em>e-wallet</em>.<br><br>Para usufruíres desta carteira virtual basta criares
                            uma conta gratuita no <em>site&nbsp;</em>do Neteller.&nbsp;<br><br>Ao criares a tua conta, é te atribuído um&nbsp;<strong>cartão bancário virtual gratuito</strong>&nbsp;– é o que vais utilizar sempre que quiseres fazer depósitos
                            e levantamentos em casas de apostas.<br><br>Tens que associar à tua conta Neteller um cartão de pagamento (Visa, Visa Eletron ou MasterCard) para teres fundos disponíveis e poderes apostar.<br><br>Assim que queiras levantar
                            os teus ganhos das apostas, tens duas opções:transferir para a tua conta bancária;levantar em qualquer terminal multibanco através do&nbsp;<strong>cartão pré-pago do Neteller</strong>, o&nbsp;<strong>Net+</strong>.</p>
                        <h4 style="margin-top:-18px;margin-left:0px;margin-bottom:-7px;"><strong>VANTAGENS CARTÃO NET+</strong><br><img class="rounded img-fluid" src="assets/img/netellercartaonetmais.png" alt="A generic square placeholder image with rounded corners in a figure." style="height: 200px;"></h4>
                        <p><strong>SEGURANÇA</strong><br><br>Com 15 anos de experiência em transações&nbsp;<em>online</em>, o Neteller proporciona uma plataforma segura para todos os seus utilizadores.<br>A marca utiliza as ferramentas mais sofisticadas
                            de proteção e encriptação de dados, o que te salvaguarda contra o risco de fraude e de roubo de identidade.<br><br><strong>II) FLEXIBILIDADE</strong><br><br>Mesmo que não optes pelo cartão físico Net+,&nbsp;<strong>o cartão virtual Neteller é aceite pela maioria das casas de apostas</strong>,
                            tal como qualquer outro cartão de crédito ou débito.&nbsp;<br><br>Podes utilizar esse cartão para fazer compras e pagamentos&nbsp;<em>online</em>.E há mais:<br><br>Podes ter até 5 cartões virtuais! Cada um com o seu nome, moeda
                            e limite de vida; permitindo-te usar sempre o cartã mais adequado para determinadas transações.<br><strong>Nota:&nbsp;</strong>o 1º cartao virtual é gratuito, os seguintes têm um custo fixo adicional de 2,50€.<br><br>Tal como
                            mencionámos antes, o cartão pré-pago Net+ permite pagamentos em comércio físico tradicional e levantamentos em qualquer multibanco.<br><br><strong>III) RAPIDEZ</strong><br><br>Ao criares a tua conta Neteller ficas com o cartão
                            virtual pronto a utilizar –&nbsp;<strong>um processo que demora menos 10 minutos</strong>.<br>Com isso, podes facilmente depositar e levantar dinheiro de uma casa de apostas.<br><br>Falando por experiência própria,&nbsp;isto
                            pode ser útil ainda na seguinte situação:Imagina que tens dinheiro depositado numa casa de apostas.&nbsp;<br>No entanto, reparas que para a aposta que queres fazer, existe uma&nbsp;<strong><em>odd</em>&nbsp;melhor em outra casa</strong>!
                            Podes facilmente transferir os fundos de uma casa para a outra e&nbsp;<strong>aproveitar a melhor&nbsp;<em>odd</em></strong>&nbsp;disponível.<br><br><strong>IV) PRIVACIDADE</strong><br><br>Qualquer pagamento que realizes numa
                            casa de apostas com a tua conta virtual Neteller, pode ser feito sem o acesso à tua conta bancária.Isto significa que&nbsp;<strong>a tua informação pessoal e financeira é mantida em anónimo</strong>, pois não existe a partilha
                            com a casa.<br><br>Por acréscimo, o facto de não ser preciso recorrer à tua conta bancária leva a que&nbsp;<strong>cada transação seja realizada muito mais rapidamente</strong>, contrariamente às transações entre bancos que
                            costumam demorar alguns dias.<br></p>
                        <h4 style="margin-top:-18px;margin-left:0px;margin-bottom:-7px;"><strong>COMO CRIAR CONTA?</strong></h4>
                        <p>Abrir uma conta no Neteller é um processo simplese rápido.&nbsp;<br><br>Basta seguires estes três passos:<br>- Abrir o website&nbsp;e selecionar a opção “<strong><em>Registre-se gratuitamente</em></strong>”.<br>- Preencher os campos
                            em branco com o teu nome completo,&nbsp;<em>e-mail</em>&nbsp;e definir a&nbsp;<em>password</em>&nbsp;para a tua conta.<br>- Após submeteres o teu formulário de registo, vai abrir uma nova janela, que te irá fornecer um número
                            de 6 dígitos – o teu&nbsp;<strong>ID do Neteller</strong>.&nbsp;<br><br><strong>Deves guardá-lo bem pois servirá de referência para cada transação que realizares futuramente.</strong><br></p>
                        <div class="card"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>