<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

    <main class="page blog-post">
        <section class="clean-block clean-post dark">
            <div class="container" style="margin-top: 100px;">
                <div class="block-content">
                    <div class="post-body" style="margin-top:-62px;">
                        <h3><img src="assets/img/esconline.png"></h3>
                        <p style="margin-top:36px;">A ESC Online opera em Portugal desde 2016, através das licenças de jogo 003 e 008 emitidas pelo&nbsp;<a href="https://www.srij.turismodeportugal.pt/pt/">SRIJ – Serviço de Regulação e Inspeção de Jogos</a>, esta marca nasceu da
                            parceria entre a Estoril Sol Digital S.A. e a GAMING1.<br><br>Trata-se de uma das primeiras casas que teve a sua licença aprovada para explorar&nbsp;<strong>jogos de casino</strong>&nbsp;e&nbsp;<strong>apostas online</strong>&nbsp;em
                            Portugal.Ou seja, na&nbsp;<strong>ESC Online</strong>, apesar da marca estar intrinsecamente ligada aos jogos de casino, é possível fazer apostas desportivas.<br><br>Com uma excelente plataforma online, tem vindo a ganhar reconhecimento
                            como uma das grandes casas a operar no nosso país.<br><br>A funcionar fisicamente desde da década de 50, a história do Estoril Sol ganha um novo folgo através da disponibilização do seu website.<br><br>Depois de garantir a
                            confiança dos jogadores portugueses com casinos na Póvoa de Varzim, Estoril e Lisboa, o grupo de casinos garantiu a sua entrada no mundo das apostas desportivas e de casino online em Portugal.</p>
                        <h4><strong>BÓNUS</strong></h4>
                        <p>Tal como outras casas legais em Portugal, a ESC Online dispõe de uma grande variedade de ofertas para quem se regista.<br><br>Existem imensas possibilidades tanto para novos jogadores como para apostadores com experiência.<br>Estas
                            ofertas incluem:<br>- Bónus de Boas Vindas<br><strong>- Freebets</strong>&nbsp;(apostas sem risco)<br><strong>- Promoções semanais</strong><br>- Cashback Bónus grátis sem depósito</p>
                        <h4>BÓNUS DE BOAS-VINDAS: 100% ATÉ 250€<br></h4><img class="rounded img-fluid" src="assets/img/escbonus.jpg" alt="A generic square placeholder image with rounded corners in a figure.">
                        <p>Ao registares-te nesta casa de apostas desportivas e casino online, recebes automaticamente o Bónus de Boas-Vindas no primeiro depósito.<br><br>O teu primeiro depósito será&nbsp;<strong>duplicado</strong>&nbsp;até ao valor máximo
                            de 250€.&nbsp;<br><br>Ou seja:<br>✔️&nbsp;<strong>Se depositares 250€, ficas com 500€ para começares a apostar (250€ saldo real + 250€ saldo bónus)!</strong><br></p>
                        <h4>3 FREEBETS DE 10€<br></h4>
                        <p>Quando realizas a tua primeira aposta desportiva, num evento com&nbsp;<strong>odd superior a 1,70</strong>&nbsp;recebes imediatamente 3 Freebets de 10€.<br><br>Estas apostas grátis podem ser aplicadas de igual modo em eventos com
                            odd igual ou superior a 1,70!<br><br>✔️&nbsp;<strong>Feitas as contas são 30€ que recebes gratuitamente.</strong><br></p>
                        <h4>BÓNUS SEM DEPÓSITO DE 10€<br></h4>
                        <div class="row">
                            <div class="col">
                                <p>Naturalmente, este é um dos bónus com mais sucesso na ESC Online, e vais perceber porquê.<br><br>Para os novos jogadores, a ESC Online oferece um<strong>&nbsp;bónus de 10€ sem ser necessário depositar nada</strong>&nbsp;–
                                    basta abrir uma conta nesta casa.<br><br>Sim,&nbsp;<strong>recebes gratuitamente 10€</strong>&nbsp;para apostares ou nos jogos de casino ou nas apostas desportivas.</p><img class="rounded img-fluid" src="assets/img/escbonusfree.jpg"
                                    alt="A generic square placeholder image with rounded corners in a figure."></div>
                        </div>
                        <div class="card"></div>
                        <h4 class="text-center"><img src="assets/img/esconline.png"><br> <br><button class="btn btn-success" type="button" >ABRIR CONTA C/ BÓNUS</button></h4>
                        <h4>APOSTAS DESPORTIVAS<br></h4>
                        <p>No ESC Online é possível apostar nas tuas&nbsp;<strong>modalidades desportivas favoritas</strong>.&nbsp;<br><br>As mais populares na plataforma são:<br>- Futebol;<br>- Ténis;<br>- Basquetebol;<br>- MMA;<br>- Desportos motorizados.<br><br>Mas
                            os desportos disponíveis não ficam por aqui. Existem sempre outras modalidades para quem gosta de apostar.<br><br>No&nbsp;<strong>total são 10 modalidades</strong>&nbsp;desportivas disponíveis para apostar nesta casa de apostas.Embora
                            seja uma oferta decente, a quantidade de modalidades disponíveis está&nbsp;<strong>abaixo da média</strong>&nbsp;das restantes casas de apostas legais.<br><br>Tal como acontece noutras casas de apostas em Portugal, no que refere
                            ao volume de apostas,&nbsp;<strong>o futebol assume um papel dominante</strong>.<br><br>✔️&nbsp;<strong>Destacamos a larga oferta de&nbsp;Handicap Asiático para os eventos de futebol</strong>.<br><br>De facto, em relação a
                            outras casas de apostas a atuar em Portugal, uma das grandes vantagens é a possibilidade dos jogadores portugueses poderem com Handicap Asiático.</p>
                        <h4><strong>CASH-OUT</strong></h4>
                        <p>Da mesma forma, a opção de cashout&nbsp;não se encontra disponível na ESC Online.Contudo, segundo o que nos foi garantido, caso seja adicionada essa funcionalidade no futuro, todos os jogadores receberão uma notificação a alertar.</p>
                        <h4><strong>PAGAMENTOS – DEPÓSITOS E LEVANTAMENTOS</strong><br></h4>
                        <p>O&nbsp;<strong>valor mínimo de depósito é de 10€</strong>&nbsp;e pode ser realizador de diferentes formas. &nbsp;São elas:<br>- Multibanco;<br>- Visa;<br>- Mastercard;<br>- Skrill;<br>- Neteller;<br>- MB Way;<br>- Boleto Bancário<strong>*</strong><br>-
                            Teleingresso<strong>*</strong><br><br><strong>*</strong>Nestas opções, os depósitos para os apostadores e clientes brasileiros são mais simples.<br><br>Relativamente aos levantamentos,<strong>&nbsp;o valor mínimo também é de 10€ e poderá ser feito por transferência bancária</strong>.<br><br>Será
                            necessário completar um processo de verificação de identidade que pode demorar até 48h – este processo é transversal a todas as casas de apostas legais.<br><br>De salientar que os bónus que a ESC Online disponibiliza só podem&nbsp;ser
                            utilizados nas apostas e&nbsp;<strong>não podem ser levantados</strong>.<br><br>Ou seja, só podes levantar o valor real ganho resultado das apostas ganhas.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>